# INSTALL

In [100]:
!pip install roughviz

Requirement already satisfied: roughviz in /usr/local/lib/python3.6/dist-packages (4.7.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from roughviz) (1.0.3)
Requirement already satisfied: Jinja2 in /usr/local/lib/python3.6/dist-packages (from roughviz) (2.11.2)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas->roughviz) (1.18.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->roughviz) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->roughviz) (2018.9)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2->roughviz) (1.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->roughviz) (1.12.0)

# IMPORT

In [0]:
import roughviz

In [102]:
!wget -O data.csv https://raw.githubusercontent.com/datasets/covid-19/master/data/countries-aggregated.csv

--2020-05-26 14:34:05--  https://raw.githubusercontent.com/datasets/covid-19/master/data/countries-aggregated.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 706445 (690K) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>] 689.89K  --.-KB/s    in 0.1s

2020-05-26 14:34:05 (6.75 MB/s) - ‘data.csv’ saved [706445/706445]

In [0]:
import pandas as pd

In [0]:
df=pd.read_csv("data.csv")

In [176]:
df.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-22      Albania          0          0       0
2  2020-01-22      Algeria          0          0       0
3  2020-01-22      Andorra          0          0       0
4  2020-01-22       Angola          0          0       0

In [0]:
df.sort_values("Confirmed", axis = 0, ascending = False, 
                 inplace = True, na_position ='last')

In [0]:
df['month'] = pd.DatetimeIndex(df['Date']).month
df['day'] = pd.DatetimeIndex(df['Date']).day

In [0]:
df_india = df[df['Country'] == 'India']

In [178]:
df_india

             Date Country  Confirmed  Recovered  Deaths  year  month  day
23391  2020-05-25   India     144950      60706    4172  2020      5   25
23203  2020-05-24   India     138536      57692    4024  2020      5   24
23015  2020-05-23   India     131423      54385    3868  2020      5   23
22827  2020-05-22   India     124794      51824    3726  2020      5   22
22639  2020-05-21   India     118226      48553    3584  2020      5   21
...           ...     ...        ...        ...     ...   ...    ...  ...
643    2020-01-25   India          0          0       0  2020      1   25
1019   2020-01-27   India          0          0       0  2020      1   27
831    2020-01-26   India          0          0       0  2020      1   26
1207   2020-01-28   India          0          0       0  2020      1   28
455    2020-01-24   India          0          0       0  2020      1   24

[125 rows x 8 columns]

### BAR PLOT

In [129]:
df_day=df_india[df_india['month']==5]
roughviz.bar(df_day['day'],df_day['Confirmed'], axisRoughness = 0.7, axisStrokeWidth = 0.7, roughness=2.3, highlight="gray")

In [124]:
df_india.head()

             Date Country  Confirmed  Recovered  Deaths  year  month  day
23391  2020-05-25   India     144950      60706    4172  2020      5   25
23203  2020-05-24   India     138536      57692    4024  2020      5   24
23015  2020-05-23   India     131423      54385    3868  2020      5   23
22827  2020-05-22   India     124794      51824    3726  2020      5   22
22639  2020-05-21   India     118226      48553    3584  2020      5   21

### HORIZONTAL BAR PLOT

In [149]:
list_countries = ['India', 'China', 'US', 'Italy', 'Spain']
list_dates = df['Date'].unique()

df2 = df[df['month'].eq(5)]
# Only take Confirmed column in descending order
df3 = df2.sort_values(by = 'Confirmed', ascending = False)
# Select the top 5 Confirmed countries
df4 = df3[df3['Country'].isin(list_countries)]
roughviz.barh(df4["Country"], df4["Confirmed"], axisRoughness = 0.7, axisStrokeWidth = 1.5, roughness=0.5, color="pink",highlight="gray")

### STACKED BAR PLOT

In [160]:
roughviz.stackedbar(df4["Country"], df4[["Confirmed","Recovered","Deaths"]], axisRoughness = 0.7, axisStrokeWidth = 0.7, roughness=2.3, highlight="gray")

### PIE CHART

In [173]:
df_pie=df4[df4['day']==25]
roughviz.pie(df_pie["Country"], df_pie["Confirmed"], axisRoughness = 0.7, axisStrokeWidth = 0.7, roughness=2.3, highlight="gray")

In [172]:
df_pie

             Date Country  Confirmed  Recovered  Deaths  year  month  day
23486  2020-05-25      US    1662302     379157   98220  2020      5   25
23470  2020-05-25   Spain     235400     150376   26834  2020      5   25
23397  2020-05-25   Italy     230158     141981   32877  2020      5   25
23391  2020-05-25   India     144950      60706    4172  2020      5   25
23348  2020-05-25   China      84102      79352    4638  2020      5   25